@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    background-color: rgb(141, 196, 238);
    font-family: sans-serif;
}

h1 {
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 50px 1px;
    
}

p {
    text-align: center;
}

.third {
    flex: content;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 1px 10px 2px;
    width: 60px;
    height: 60px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }